@inherits LayoutComponentBase

<div class="vh-100 text-light">

    <div class="video-container">
        <video autoplay loop muted>
            <source src="images/Background.mp4" type="video/mp4">
            <source src="images/Backgroundwebm.webm" type="video/webm">
        </video> 
    </div> 

    <main style="padding-bottom:5rem;">

        <div>
            <NavMenu/>
        </div>

        <article>
             @Body
        </article>

        <footer class=" navbar bg-transparent justify-content-center">
            <div class="px-2">nicholasnowosad@gmail.com</div>
            <a class="svg px-2" href="https://www.linkedin.com/in/nicholas-nowosad-744182235/" target="_blank"><img src="images/linkedin-logo-2013-1.svg"></a>
            <a class="svg px-2" href="https://my.indeed.com/p/nicholasn-6fyj8qe" target="_blank"><img src="images/indeed-logo.svg"></a>
            <a class="svg px-2" href="https://github.com/MindSet-design" target="_blank"><img src="images/github-2.svg"></a>
        </footer>
    </main>
</div>
