@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Portfolio-Blog-Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

</div>*@

<nav class="navbar navbar-dark justify-content-center" style="background-image: linear-gradient(180deg,rgba(58,6,71,1) 30%,rgba(5,39,103,.95) 100%);">

    <div class="d-flex">
        
        <div class="nav-item p-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span>Projects
            </NavLink>            
        </div>

        <div class="nav-item p-3">
            <NavLink class="nav-link" href="posts">
                <span class="oi oi-chat" aria-hidden="true"></span>Posts
            </NavLink>
        </div>

        <div class="nav-item p-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-bullhorn" aria-hidden="true"></span>About               
            </NavLink>           
        </div>

    </div>

    <div class="position-absolute end-0 px-2">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
