@page "/about"

<PageTitle>About</PageTitle>
<!--About-->
<div class="container">
    <div class="card bg-transparent justify-content-center row border-0">
        <h2 class="card-header py-3 px-3 text-center border-0">Nicholas Nowosad</h2>

        <p class="card-body text-center">
            Hi I am a NAIT Electronics Engineering Technologist Honors Grad. I am currently working a part time job
            while learning more programming skills. Recently I have been working with Unreal Engine, C++, C#, javascript, React, nodejs and Mongodb.
        </p>

    </div>

    <div class="card bg-dark bg-transparent justify-content-center row mt-5 border-0">
        <h2 class="card-header text-center py-3 px-3 border-0">Education</h2>
        <p class="card-body text-center">NAIT Eectronics Engineering Technology: GPA 4.0 <a  href="/images/Transcript.pdf" target="_blank"> Transcript</a></p>
    </div>
</div>
