@page "/projects"

<PageTitle>projects</PageTitle>

<!--Projects-->
<section class="container-fluid">
    
    <ul classname="ul" class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 align-content-center justify-content-center" style="list-style-type: none; padding:0; margin:0;">
        
        <li classname="li" class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;">
           <a href="https://moreinformed-auth-dev.web.app/"><h2 >Alberta Assurance Summary Visualization Site</h2></a> 
            <!--<a class="svg" href="" target="_blank"><img src="/images/github-2.svg"></a>-->
            <div class="svg">
                <img src="images/html-1.svg">
                <img src="images/css-3.svg">
                <img src="images/react-2.svg">
                <img src="images/firebase-1.svg">
                <img src="images/Logo_150dpi.svg">
            </div>
        </li>

        <li classname="li" class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;">
            <h2>Small Web Projects</h2>
            <a class="svg" href="https://github.com/MindSet-design?tab=repositories" target="_blank"><img src="images/github-2.svg"></a>
            <div class="svg">
                <img src="images/html-1.svg">
                <img src="images/css-3.svg">
                <img src="images/mongodb-icon-1.svg">
                <img src="images/dot-net-core-7.svg">
                <img src="images/expressjs-icon.svg">
                <img src="images/react-2.svg">
            </div>
        </li>

        <li classname="li" class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;">
            <h2>NAIT Final Project</h2>
            <a class="svg" href="https://www.youtube.com/watch?v=rxiFlBYINkI" target="_blank"><img src="images/youtube-2.svg"></a>
            <a class="svg" href="https://github.com/MindSet-design/NAIT-Final-Project" target="_blank"><img src="images/github-2.svg"></a>
            <a class="text-light text-underlined" href="images/Drink_Machine_Technical_Document.pdf" target="_blank"> <h2>Report</h2></a>
            <div class="svg">
                <img src="images/arduino-1.svg">
                <img src="images/raspberry-pi.svg">
                <img src="images/c.svg">
            </div>
        </li>

        <li classname="li" class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;">
            <h2>This Site</h2>
            <a class="svg" href="https://github.com/MindSet-design/Blog" target="_blank"><img src="images/github-2.svg"></a>
            <div class="svg">
                <img src="images/dot-net-core-7.svg">
                <img src="images/c--4.svg">
                <img src="images/bootstrap-4.svg">
                <img src="images/blazor.svg">
            </div>
        </li>

        <li class="col p-3 border bg-dark text-light" style="border-radius: 5%; margin-bottom: 1em;margin-right: 1em;text-align: center;"> 
            <h2>More to come</h2>
        </li>
    </ul>
</section>
